* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(223, 223, 223);
    font-family: "Nunito Sans", sans-serif;
}

body {
margin: 0 215px;
}

header {
    margin: 10px 0;
    height: auto;
}

h1 {
    font-weight: 700;
    font-size: 26px;
    margin: 10px
}

h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin: 10px;
}

h3 {
    font-weight: 500;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding: 10px 0;
    text-decoration: underline;
}

p {
    font-weight: 400;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.fontOne {
    font-family: "Source Code Pro", sans-serif;
    display: inline-block;
    width: 45%;
    margin: 10px;
}

.fontTwo {
    font-family: "Nunito Sans", sans-serif;
    display: inline-block;
    width: 45%;
    margin: 10px;
}

.fontThree {
    font-family: "Poppins", sans-serif;
    display: inline-block;
    width: 45%;
    margin: 10px;
}

.fontBold {
    font-weight: bold;
}

.fontItalic {
    font-style: italic;
}

.color {
    border: 2px solid #323232;
}

.colorLabel {
    margin-top: 20px;
}

.colorHex {
    margin-top: 20px;
}

.colorPanel.brightBlue {
    background-color: #2596be;
    color: white;
    width: 32%;
    min-height: 100px;
    text-align: center;
    display: inline-block;
    margin: 10px 0 10px 15px;
}

.colorPanel.midnightBlue {
    background-color: #041014;
    color: white;
    width: 32%;
    min-height: 100px;
    text-align: center;
    display: inline-block
}

.colorPanel.middleBlue {
    background-color: #145369;
    color: white;
    width: 32%;
    min-height: 100px;
    text-align: center;
    display: inline-block;
}

.fonts {
    border: 2px solid #323232;
    margin: 10px 0;
}

.textStyles {
    border: 2px solid #323232;
    padding-bottom: 10px;
}

.textStyles ul li {
    margin-left: 45px;
}

.textStyles p {
    margin: 10px;
}