* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    color: white;
    font-size: 16px;
}

body {
    background-color: #2F4F4F;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: auto;
}

nav {
    text-align: center;
    padding: 10px 0;
    background-color: #192424;
}

nav ul {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px 0px;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    padding: 10px;
}

a:visited {
    color: white;
}

main {
    text-align: center;
    width: 100%;
    flex: 1;
}

main h1 {
    font-size: 100px;
    background-color: #223a3a;
    margin-bottom: 10px;
    font-weight: bold;
}

main h3 {
    font-size: 25px;
}

main p {
    padding-bottom: 10px;
}

main table {
    width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

footer {
    background-color: #192424;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}

footer li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
    
}