
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "SoDo Sans SemiBold", "Roboto", sans-serif;
    font-size: 16px;
}

header {
    padding: 1rem 2rem;
    height: auto;
    border-bottom: 0.25px solid lightgrey;
    margin-bottom: 2.5rem;
}

.headerWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav {
    display: flex;
    align-items: center;
}

header .logoTop img {
    height: 3.5rem;
    padding-right: 3rem;
}

.navLeft {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin-right: 300px;
    text-transform: uppercase;
}

.navLeft li {
    font-weight: 700;
    font-size: 0.9rem;
}

.navRight {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
}

.findAStore {
    display: flex;
    align-items: center;   
    gap: 0.5rem; 
}

.findAStore p {
    font-size: 0.85rem;
}

.joinNow {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 0.3rem 0.75rem;
    text-decoration: none;
}

.signIn {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 25px;
    padding: 0.3rem 0.75rem;
    text-decoration: none;
}

.languageButton {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.languageButton p {
    font-weight: 100;
    font-size: 0.85rem;
}

.findAStoreLogo img {
    height: 1rem;
}

.languageButton img {
    height: 1.25rem;
}

.contentOne {
    display: flex;
    max-width: 1100px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    align-items: stretch;
    padding-bottom: 4rem;
}

.contentOneLeft, 
.contentOneRight {
    height: auto;
}

.contentOneLeft {
    flex: 1;
    width: auto;
    background-color: rgb(0, 98, 65);
    color: white;
    font-size: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px 0 0 10px;
}

.contentOneLeft p {
    line-height: 1;
    padding-bottom: 1rem;
    margin: 0;
}

.contentOneLeft a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1rem 1.25rem;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 1.5rem;
}

.contentOneLeft a:hover {
    background-color: rgb(200, 230, 200);
    border: 1px solid rgb(200, 230, 200);
}

.contentOneRight {
    flex: 1.5;
    width: auto;
    border-radius: 0 10px 10px 0;
    display: flex;
}

.contentOneRight img {
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.contentTwo{
    display: flex;
    max-width: 1100px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    padding: 0 0 4rem 0;
    gap: 2rem;
    flex-wrap: wrap;
    list-style: none;
}

.contentTwoItem a {
    text-decoration: none;
}

.contentTwoItem p {
    max-width: 100%;
    word-wrap: break-word;
    font-size: 1rem;
    text-align: center;
    width: 9rem;
    color: black;
}

.contentTwoItem img {
    width: 100%;
    height: auto;
    max-width: 9rem;
    border-radius: 50%;
}

.contentThree {
    text-align: center;
    font-size: 1.75rem;
    padding-bottom: 2rem;
}

.contentFour {
    display: flex;
    max-width: 1100px;
    justify-content: center;
    margin: 0 auto;
    gap: 2rem;
    flex-wrap: wrap;
    list-style: none;
}

.contentFourItem {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    max-width: 300px;
}

.contentFour img {
    width: 100%; 
    height: auto;
    max-width: 4rem;
    align-self: center;
}

.contentFourItemText {
    font-size: 0.95rem;
}

.contentFourItemText p {
    color: grey;
    font-weight: 100;
}

.buttonsMiddle {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0 4rem 0;
}

.joinNowMiddle {
    color: white;
    background-color: rgb(0, 98, 65);
    border: 1px solid white;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
}

.signInMiddle {
    color: rgb(0, 98, 65);
    background-color: white;
    border: 1px solid rgb(0, 98, 65);
    padding: 1rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
}

.contentFive {
    display: flex;
    max-width: 1100px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2.5rem;
}

.contentFiveContainerGreen {
    display: flex;
    flex-direction: column;
    width: 33.625rem;
    overflow: hidden;
    background-color: rgb(0, 98, 65);
    border-radius: 10px;
}

.contentFiveContainerWhite {
    display: flex;
    flex-direction: column;
    width: 33.625rem;
    overflow: hidden;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.contentFiveContainerWhite img {
    width: 100%;
    height: 16.25rem;
    object-fit: cover;
}

.contentFiveContainerGreen img {
    width: 100%;
    height: 16.25rem;
    object-fit: cover;
}

.contentFiveTextWhite {
    max-width: 100%;
    word-wrap: break-word;
    font-size: 1rem;
    width: auto;
    color: white;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}

.contentFiveTextBlack {
    max-width: 100%;
    word-wrap: break-word;
    font-size: 1rem;
    width: auto;
    color: black;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}

.contentFiveTextWhite p {
    font-size: 0.95rem;
    font-weight: 100;
}

.contentFiveButtonGreen {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1rem 1.5rem;
    background-color: rgb(0, 98, 65);
    border-radius: 25px;
    margin-top: 2rem;
}

.contentFiveButtonWhite {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 25px;
    margin-top: 2rem;
}

.curratedHeader {
    display: flex; 
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.curratedHeader h2 {
    font-size: 1.25rem;
}

.contentSix {
    display: flex; 
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 1.375rem;
}

.contentSixContainer {
    display: flex;
    width: auto;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 0;
    border: 0.25px solid lightgray;
    border-radius: 10px;
    text-decoration: none;
}

.contentSixContainer img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.contentSixContainer h3 {
    margin: 1rem;
    padding-bottom: 2rem;
    border-bottom: 0.25px solid lightgray;
    color: black;
}

.contentSixContainer p {
    margin: 0 1rem 1rem 1rem;
    color: rgb(0, 98, 65);
    font-weight: 100;
}

.contentSeven{
    display: flex;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 4rem;
}

.contentSevenLeft {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    background-color: rgb(0, 98, 65);
    color: white;
    padding: 2rem;
}

.contentSevenLeft h2 {
    font-size: 2rem;
    margin: 0;
}

.contentSevenLeft p {
    word-wrap: break-word;
    font-weight: 100;
    padding: 0;
    margin: 1rem 0;
}

.contentSevenLeft a {
    margin-top: auto;
    padding: 1rem 1.5rem;
    background-color: white;
    color: black;
    text-decoration: none;
    align-self: flex-start;
    border-radius: 25px;
}

.contentSevenRight {
    width: 100%;
    flex: 1.5;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}

.contentSevenRight img {
    width: 100%;
    height: 27.5rem;
    object-fit: cover;
    transform: scale(2);
}

footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #1e3932;
}

footer h4 {
    color: white;
}

footer p {
    color: lightgray;
    font-size: 0.9rem;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    padding: 0.9rem 0;
    font-size: 0.9rem;
}

footer li a {
    color: lightgray;
    text-decoration: none;
}

footer li a:hover {
    color: white;
}

.footerGrid {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: auto auto auto;
    column-gap: 1rem;
    margin: 0 10.313rem;
    padding: 4rem 1.25rem 5rem 1.25rem;
}

.footerLogo {
    display: flex;
    justify-content: start;
    align-items: start;
    grid-area: 1 / 1 / 2 / 2;
}

.footerLogo img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.footerAboutUs {
    grid-area: 1 / 2 / 2 / 5;
    padding-bottom: 4rem;
}

.footerContact {
    grid-area: 1 / 5 / 2 / 8;
}

.footerCareer {
    grid-area: 1 / 8 / 2 / 11;
}

.footerSocialImpact {
    grid-area: 1 / 11 / 2 / 14;
}

.footerStarbucksCard {
    grid-area: 1 / 14 / 2 / 18;
}

.footerULAndSocials {
    grid-area: 2 / 2 / 3 / 9;
    align-self: center;
}

.footerUL {
    display: flex;
    gap: 2rem;
    font-size: 0.9rem;
}

.footerSocialIcons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footerSocialIcons img{
    height: 2rem;
    border-radius: 50%;
    transition: filter 0.3s ease;
}

.footerSocialIcons img:hover {
    filter: brightness(70%);
}

.footerStarbucksApp {
    grid-area: 2 / 11 / 3 / 18;
}

.footerCopyright {
    grid-area: 3 / 2 / 4 / 11;
}

.footerStarbucksApp {
    border: 0.5px solid gray;
    border-radius: 10px;
    max-width: 25rem;
    width: 100%;
    height: 8.5rem;
    padding: 1rem;
    align-self: center;
}

.footerStarbucksApp h4 {
    margin: 0;
}

.footerStarbucksApp p {
    font-size: 0.85rem;
}

.footerStarbucksApp img {
    width: 44%;
    height: 3.5rem;
    object-fit: cover;
    border: 1px solid gray;
    border-radius: 10px;
}

.footerCopyright {

    margin-top: 3rem;
    font-size: 0.9rem;
}

.footerCopyright p {
    color: lightgray;
}